/********************************
Bootstrap Variables Override
**********************************/
:root {
    /* Replace your primary color from your UI Kit */
    --bs-primary:#2EE3AD;

    /* Replace your secondary color from your UI Kit  */
    --secondary-color:#99246A;

    /* Replace the main body font from your UI Kit */
    --bs-font-sans-serif: 'Balsamiq Sans', sans-serif;
    --bs-font-header: 'DynaPuff', sans-serif;
    --bs-font-alt: 'Gluten', sans-serif;

}

/********************************
Global Styles and UI Components
**********************************/
.container-fluid{
    width: auto;
    height: auto;
}

header {
    background-image: url("../images/nav_background_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    align-items: flex-start;
}

.navbar-toggler {
    margin-right: 25px;
    background-color: #FFF9FD;
}

.dropdown-menu.dropdown-menu-dark {
    background-color: var(--secondary-color);
    border: none;
}

.dropdown-menu.dropdown-menu-dark .dropdown-item:hover {
    background-color: #1B0D10;
    color: #FFF9FD;
}

hr {
    border: none;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    margin: 0;
}

hr.top-breaker {
    background-image: url("../images/section-break-top_2.png");
    height: 102px;
}

hr.bottom-breaker {
    background-image: url("../images/section-break-bottom_2.png");
}

.card {
    border-radius: 20px;
    border-color: transparent;
    background-image: url("../images/custom-card-2.png");
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card-2 {
    color: transparent;
    text-align: center;
}

    .card-content {
        display: flex;
        align-content: left;
        flex-wrap: wrap;
        justify-content: center;
        gap: 32px;
    }

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1B0D10;
}

.footer-break {
    background-image: url("../images/footer-break-v3.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
}

.social-icons{
    display: flex;
    gap: 24px;
}

.btn-primary {
    background-color: var(--bs-primary);
}

.btn-primary:hover,
.btn-secondary:hover{
    background-color: var(--secondary-color);
}

.btn-secondary {
    background-color: #3B322A;
}

#btn-2.btn-primary {
    background-color: #1B0D10;
}

#btn-2.btn-primary:hover{
    background-color: #FFF9FD;
}

.Back-to-category-button {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 32px;
}

.Contact-button,
.msgbrd-button,
#about-button,
.services-button {
    text-align: center;
}

#about-button,
.services-page-button,
.services-button {
    padding-top: 40px;
}

.services-page-button,
.Contact-button {
    padding-bottom: 32px;
}

#about-button,
.msgbrd-button {
    padding-bottom: 32px;
}


/********************************
Typography
**********************************/
h1,
h2,
h3 {
    font-family: var(--bs-font-header);
}

h1,
h3,
.Recommended-card:hover,
p,
a, 
.nav-item .nav-link,
.hero-text h4,
.About-me-title,
.page-title-2,
.project-background-title-2,
.Recommended-title,
.project-background-body,
.msgbrd-body,
.btn-primary:hover,
.btn-secondary,
.btn-secondary:hover,
#btn-2.btn-primary {
    color: #FFF9FD;
}

h1,
p,
.hero-text .Call-to-action,
.btn-primary,
.btn-secondary,
#btn-2.btn-primary,
.bio-blockquote,
.showcase-detail-title,
.msgbrd-blockquote,
.msgbrd-body{
    text-align: center;
}

h2,
h3,
.body,
ul,
.About-me-title,
.project-detail-body,
.project-background-body,
#showcase-title-section {
    text-align: left;
}

.project-detail-background,
.project-detail-process{
    padding: 32px 0px;
}

h1 {
    font-size: 60px;
    font-weight: 700;
}

h2 {
    font-size: 58px;
    font-weight: 600;
}

h3 {
    font-size: 50px;
    font-weight: 500;
}

h4,
h5,
.navbar-brand {
    font-family: var(--bs-font-alt);
    font-weight: 700;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
    text-decoration: underline;
}

h5,
.project-detail-h3{
    color: var(--secondary-color);
}

.btn-primary,
#btn-2.btn-primary:hover,
.Recommended-card,
.navbar-brand,
.project-detail-body {
    color: #1B0D10;
}

.body,
ul,
p,
a,
.nav-item,
.nav-link,
.btn-primary,
.btn-secondary,
#btn-2.btn-primary,
.footer-note {
    font-family: var(--bs-font-sans-serif);

}

.body,
.showcase-detail-title,
.page-title,
.project-background-title-1,
#showcase-title-section{
    color: #3B322A;
}

ul {
    list-style-type: none;
    font-size: 12px;
    padding-bottom: 0px;
    padding-left: 50px;
}

p {
    font-size: 16px;
    line-height: 28px;
}

a {
    font-size: 12px;
    text-decoration: none;
}

.navbar-brand {
    margin-left: 25px;
    font-size: 45px;
    font-weight: 800;
}

@media (max-width: 520px) {
    .navbar-brand{
        font-size: 35px;
    }
}

@media (max-width: 450px) {
    .navbar-brand{
        font-size: 25px;
    }
}

.nav-item .nav-link {
    font-size: 17px;
    font-weight: bolder;
    line-height: 36px;
    margin-right: 25px;
    padding-left: 12px;
}

.nav-item .nav-link:focus,
    .nav-link:hover {
    color: var(--bs-primary);
}

@media (max-width: 1120px) {
    .nav-item .nav-link {
        margin-right: 10px;
    }
}

@media (max-width: 1030px) {
    .nav-item .nav-link {
        margin-right: 3px;
    }
}

@media (max-width: 992px) {
    #nav-highlight:hover {
        background-color: transparent;
    }
    .nav-item .nav-link{
        color: #3B322A;
    }
    .nav-item .nav-link:focus,
    .nav-link:hover{
        color: var(--secondary-color);
        background-color: #1B0D10;
    }
}

.hero-text {
    align-items: center;
}

.hero-text h4 {
    font-weight: 400;
}

.hero-text .Call-to-action {
    font-weight: 700;
    padding-bottom: 20px;
}

.btn-primary,
.btn-secondary,
#btn-2.btn-primary {
    font-size: 17px;
    font-weight: 700;
    border-width: 0;
}

.page-title-2,
.showcase-detail-title,
.About-me-title,
.bio-blockquote,
.msgbrd-introduction,
.Recommended-title,
.msgbrd-heading {
    padding-top: 32px;
}

.msgbrd-introduction{
    padding-bottom: 32px;
}

.msgbrd-desc{
    padding-bottom: 32px;
}

.About-me-title {
    font-size: 58px;
    font-weight: 600;
}

.bio-blockquote {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.project-detail-title {
    padding: 0px 32px;
}

.project-background-title-2,
.Recommended-title {
    padding: 0px 20px;
}

.project-detail-body {
    padding: 0px 36px;
}

.project-background-body{
    padding: 0px 42px;
}

.msgbrd-blockquote {
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.footer-heading,
.footer-note {
    color: var(--bs-primary);
}

.msgbrd-h5{
    color: #81CCB6;
    text-decoration: none;
}

.form-label{
    font-weight: 700;
}

.footer-links{
    font-size: 14px;
}

.footer-heading{
    text-decoration: none;
}

.footer-note {
    font-weight: 700;
    font-size: 17px;
    text-align: right;
    margin-top: 12px;
}

/********************************
Page-Specific
**********************************/

/* PAGE: Home */

.down-arrow {
    text-align: center;
}

.showcase-content,
.msgbrd-content,
.services-content {
    padding: 32px 0px;
}

.msgbrd-and-services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    background-color: #1B0D10;

}

.ms-column{
    padding: 1rem;
}

@media (max-width: 1024px) {
  .msgbrd-and-services {
    grid-template-columns: 1fr;
  }
}

/* Also applies to About Page */
.hero-image {
    background-image: url("../images/Hero-background.png");
    background-size: cover;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

    #showcase-title-section {
        width: 100%;
        padding-top: 32px;
    }

.msgbrd-content {
    align-items: center;
    position: relative;
    text-align: center;
}

.msgbrd-image {
    justify-content: center;
}

.services-offers {
    display: grid;
    justify-content: center;
    gap: 32px;
}

@media (max-width: 1024px) {
  .services-offers {
    display: flex;
  }
}

@media (max-width: 900px) {
  .services-offers {
    display: grid;
  }
}

.services-content {
    align-items: center;
    position: relative;
    text-align: center;
}

#about-me-background {
    background-image: url("../images/Hero-background.png");
    background-size: cover;
    width: auto;
    justify-content: center;
    align-items: center;
}

img[src="images/jasmine_headshot_v1.png"] {
    padding-bottom: 32px;
}

/* PAGE: Project-Category */

.card-content-2{
    padding-bottom: 32px;
}

/* PAGE: Project-Detail */

.project-detail-visuals {
    max-width: 100%;
    height: auto;
}

.project-image-background {
    background-image: url("../images/Hero-background.png");
    background-size: cover;
    padding: 48px 0px;
}

.project-detail {
    padding: 0px 32px;
}

@media (max-width: 2000px){
    .LEGO-visuals{
        display: flex;
        max-width: 50%;
        gap: 24px;
    }
}
@media (max-width: 1000px){
    .LEGO-visuals{
        display: grid;
        justify-content: center;
        max-width: 100%;
        gap :0px
    }
}

.LEGO-visual-2{
        display: grid;
        justify-content: center;
    }

.Recommended-content{
    display: flex;
    gap: 32px;
    justify-content: center;
    padding: 0px 32px;
}

/* PAGE: Message Board */

.msgbrd-divider,
.msgbrd-divider-2 {
    height: 3px;
    width: 75%;
    margin: auto;
    background-color: var(--secondary-color);
}

.msgbrd-divider-2{
    background-color: var(--bs-primary);
    width: 60%;
}

img[src="images/padlet-mockup.png"] {
    max-width: 100%;
    max-height: 100%;
}

/* PAGE: Services*/

.services-list{
    justify-content: center;
    max-width: 100%;
    gap: 32px;
}

@media (max-width: 2000px) {
  .services-list {
    display: flex;
  }
}

@media (max-width: 1200px) {
  .services-list {
    display: grid;
  }
}

/* PAGE: About */

.about-section {
    background-image: url("../images/Hero-background.png"); 
    background-size: cover;
}

/* PAGE: Contact */

.form-control{
    background-color: #FFF9FD;
    border-width: 4px;
    border-color: #9f6086;
}